IMPORTAR AS BIBLIOTECAS

In [1]:
import pandas as pd
import numpy as np
import requests
import tweepy
import json
import sqlalchemy

** <h1> Gather **

Importar os dados fornecidos para baixar manualmente

In [2]:
twitter_arc = pd.read_csv('twitter-archive-enhanced.csv')
twitter_arc.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

Importar dados fornecidos pelo o link

In [3]:
response = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
with open('image_predictions.tsv',mode='wb') as file:
    file.write(response.content)

In [4]:
imagens_pre = pd.read_csv('image_predictions.tsv',sep='\t')
imagens_pre.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Importar os dados fornecidos através do API

In [ ]:
consumer_key = 
consumer_secret = 
access_token = 
access_secret = 
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth,parser=tweepy.parsers.JSONParser())

Tweet = []
Erro = []
for i in twitter_arc['tweet_id']:
    try:
        Tweet.append(api.get_status(i,tweet_mode='extended'))
    except:
        Erro.append(i)

In [ ]:
with open ('tweet_json.txt','w') as outfile:
    for i in Tweet:
        json.dump(i, outfile)
        outfile.write('\n')
        
with open ('ID_error.txt','w') as outfile:
    for i in Erro:
        outfile.write(str(i))
        outfile.write('\n')

In [5]:
Matrix_json = []
with open('tweet_json.txt') as f:
    for line in f:
        Matrix_json.append(json.loads(line))

In [6]:
tweet_js= pd.DataFrame(Matrix_json)
tweet_js.head()

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,None,None,Sun Nov 15 22:32:08 +0000 2015,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...",2551,False,Here we have a Japanese Irish Setter. Lost eye...,None,...,en,None,False,False,508,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,None,None,Sun Nov 15 23:05:30 +0000 2015,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...",128,False,This is a western brown Mitsubishi terrier. Up...,None,...,en,None,False,False,47,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,None,None,Sun Nov 15 23:21:54 +0000 2015,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...",125,False,Here is a very happy pup. Big fan of well-main...,None,...,en,None,False,False,44,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,None,None,Mon Nov 16 00:04:52 +0000 2015,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...",296,False,This is a purebred Piers Morgan. Loves to Netf...,None,...,en,None,False,False,139,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,None,None,Mon Nov 16 00:24:50 +0000 2015,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...",108,False,Here we have a 1949 1st generation vulpix. Enj...,None,...,en,None,False,False,40,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

** <h1> Assesing **

TWEET_JS (Dados fornecidos através do API)

In [7]:
tweet_js

,contributors,coordinates,created_at,display_text_range,entities,extended_entities,favorite_count,favorited,full_text,geo,...,lang,place,possibly_sensitive,possibly_sensitive_appealable,retweet_count,retweeted,retweeted_status,source,truncated,user
0,None,None,Sun Nov 15 22:32:08 +0000 2015,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...",2551,False,Here we have a Japanese Irish Setter. Lost eye...,None,...,en,None,False,False,508,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1,None,None,Sun Nov 15 23:05:30 +0000 2015,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...",128,False,This is a western brown Mitsubishi terrier. Up...,None,...,en,None,False,False,47,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2,None,None,Sun Nov 15 23:21:54 +0000 2015,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...",125,False,Here is a very happy pup. Big fan of well-main...,None,...,en,None,False,False,44,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
3,None,None,Mon Nov 16 00:04:52 +0000 2015,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...",296,False,This is a purebred Piers Morgan. Loves to Netf...,None,...,en,None,False,False,139,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
4,None,None,Mon Nov 16 00:24:50 +0000 2015,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...",108,False,Here we have a 1949 1st generation vulpix. Enj...,None,...,en,None,False,False,40,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
5,None,None,Mon Nov 16 00:30:50 +0000 2015,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666050754986266625, 'id_str'...",132,False,This is a truly beautiful English Wilson Staff...,None,...,en,None,False,False,59,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
6,None,None,Mon Nov 16 00:35:11 +0000 2015,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666051848592334848, 'id_str'...",1210,False,This is an odd dog. Hard on the outside but lo...,None,...,en,None,False,False,843,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
7,None,None,Mon Nov 16 00:49:46 +0000 2015,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666055517517848576, 'id_str'...",433,False,Here is a Siberian heavily armored polar bear ...,None,...,en,None,False,False,246,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
8,None,None,Mon Nov 16 00:55:59 +0000 2015,"[0, 124]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666057085227016192, 'id_str'...",294,False,My oh my. This is a rare blond Canadian terrie...,None,...,en,None,False,False,141,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
9,None,None,Mon Nov 16 01:01:59 +0000 2015,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666058597072306176, 'id_str'...",111,False,Here is the Rand Paul of retrievers folks! He'...,None,...,en,None,False,False,57,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
10,None,None,Mon Nov 16 01:22:45 +0000 2015,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666063820255862784, 'id_str'...",471,False,This is the happiest dog you will ever see. Ve...,None,...,en,None,False,False,216,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
11,None,None,Mon Nov 16 01:52:02 +0000 2015,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666071190449033216, 'id_str'...",145,False,Here we have a northern speckled Rhododendron....,None,...,en,None,False,False,59,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
12,None,None,Mon Nov 16 01:59:36 +0000 2015,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666073098362486784, 'id_str'...",319,False,Let's hope this flight isn't Malaysian (lol). ...,None,...,en,None,False,False,163,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
13,None,None,Mon Nov 16 02:38:37 +0000 2015,"[0, 125]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666082912819875840, 'id_str'...",116,False,Here we have a well-established sunblockerspan...,None,...,en,None,False,False,44,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
14,None,None,Mon Nov 16 03:22:39 +0000 2015,"[0, 132]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666093996847063040, 'id_str'...",163,False,This appears to be a Mongolian Presbyterian mi...,None,...,en,None,False,False,73,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
15,None,None,Mon Nov 16 03:44:34 +0000 2015,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666099505364733952, 'id_str'...",153,False,Can stand on stump for what seems like a while...,None,...,en,None,False,False,67,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
16,None,None,Mon Nov 16 03:55:04 +0000 2015,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666102150364286977, 'id_str'...",80,False,Oh my. Here you are seeing an Adobe Setter giv...,None,...,en,None,False,False,12,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
17,None,None,Mon Nov 16 04:02:55 +0000 2015,"[0, 134]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666104129232740352, 'id_str'...",14207,False,Not familiar with this breed. No tail (weird)....,None,...,en,None,False,False,6515,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
18,None,None,Mon Nov 16 14:57:41 +0000 2015,"[0, 82]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666268904428277760, 'id_str'...",102,False,Very concerned about fellow dog trapped in com...,None,...,en,None,False,False,35,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
19,None,None,Mon Nov 16 15:14:19 +0000 2015,"[0, 46]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666273081518768128, 'id_str'...",174,False,Can take selfies 11/10 https://t.co/ws2AMaNwPW,None,...,en,None,False,False,76,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
20,None,None,Mon Nov 16 16:11:11 +0000 2015,"[0, 136]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666287399580733440, 'id_str'...",146,False,This is an Albanian 3 1/2 legged Episcopalian...,None,...,en,None,False,False,64,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
21,None,None,Mon Nov 16 16:37:02 +0000 2015,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666293909010702337, 'id_str'...",497,False,This is a funny dog. Weird toes. Won't come do...,None,...,en,None,False,False,352,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
22,None,None,Mon Nov 16 19:31:45 +0000 2015,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666337857791987715, 'id_str'...",197,False,This is an extremely rare horned Parthenon. No...,None,...,en,None,False,False,90,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
23,None,None,Mon Nov 16 20:01:42 +0000 2015,"[0, 112]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666345414279471104, 'id_str'...",292,False,Look at this jokester thinking seat belt laws ...,None,...,en,None,False,False,134,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
24,None,None,Mon Nov 16 20:32:58 +0000 2015,"[0, 135]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666353280906170368, 'id_str'...",219,False,Here we have a mixed Asiago from the Galápagos...,None,...,en,None,False,False,71,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
25,None,None,Mon Nov 16 21:10:36 +0000 2015,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666362717482020864, 'id_str'...",773,False,Unique dog here. Very small. Lives in containe...,None,...,en,None,False,False,566,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
26,None,None,Mon Nov 16 21:54:18 +0000 2015,"[0, 81]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666373746337402880, 'id_str'...",186,False,Those are sunglasses and a jean jacket. 11/10 ...,None,...,en,None,False,False,92,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
27,None,None,Mon Nov 16 23:23:41 +0000 2015,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666396240351993856, 'id_str'...",167,False,Oh goodness. A super rare northeast Qdoba kang...,None,...,en,None,False,False,84,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
28,None,None,Tue Nov 17 00:06:54 +0000 2015,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666407121513275392, 'id_str'...",108,False,This is a southern Vesuvius bumblegruff. Can d...,None,...,en,None,False,False,40,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
29,None,None,Tue Nov 17 00:24:19 +0000 2015,"[0, 140]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666411498068123649, 'id_str'...",440,False,This is quite the dog. Gets really excited whe...,None,...,en,None,False,False,324,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1165,None,None,Sat Jul 15 16:17:19 +0000 2017,"[0, 94]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886258377298292737, 'id_str'...",27674,False,This is Waffles. His doggles are pupside down....,None,...,en,None,False,False,6209,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1166,None,None,Sat Jul 15 23:25:31 +0000 2017,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886366138128449536, 'id_str'...",20953,False,This is Roscoe. Another pupper fallen victim t...,None,...,en,None,False,False,3163,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1167,None,None,Sun Jul 16 20:14:00 +0000 2017,"[0, 71]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886680331239161856, 'id_str'...",22167,False,This is Derek. He's late for a dog meeting. 13...,None,...,en,None,False,False,4413,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1168,None,None,Sun Jul 16 23:58:41 +0000 2017,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886736868116754432, 'id_str'...",11910,False,This is Mingus. He's a wonderful father to his...,None,...,en,None,False,False,3250,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1169,None,None,Mon Jul 17 16:17:36 +0000 2017,"[0, 101]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 886983218871902208, 'id_str'...",34756,False,This is Maya. She's very shy. Rarely leaves he...,None,...,en,None,False,False,7691,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1170,None,None,Tue Jul 18 00:07:08 +0000 2017,"[0, 129]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887101385971384320, 'id_str'...",30207,False,This... is a Jubilant Antarctic House Bear. We...,None,...,en,None,False,False,5894,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1171,None,None,Tue Jul 18 16:08:03 +0000 2017,"[0, 88]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887343120832229379, 'id_str'...",33297,False,You may not have known you needed to see this ...,None,...,en,None,False,False,10288,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1172,None,None,Wed Jul 19 00:47:34 +0000 2017,"[0, 99]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887473949361045505, 'id_str'...",68301,False,This is Canela. She attempted some fancy porch...,None,...,en,None,False,False,17985,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1173,None,None,Wed Jul 19 03:39:09 +0000 2017,"[0, 108]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887517108413886465, 'id_str'...",45738,False,I've yet to rate a Venezuelan Hover Wiener. Th...,None,...,en,None,False,False,11531,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1174,None,None,Wed Jul 19 16:06:48 +0000 2017,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 887705281597243393, 'id_str'...",29822,False,This is Jeffrey. He has a monopoly on the pool...,None,...,en,None,False,False,5325,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1175,None,None,Thu Jul 20 16:49:33 +0000 2017,"[0, 127]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888078426338406400, 'id_str'...",21517,False,This is Gerald. He was just told he didn't get...,None,...,en,None,False,False,3454,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1176,None,None,Sat Jul 22 00:23:06 +0000 2017,"[0, 87]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888554915546542081, 'id_str'...",19654,False,This is Ralphus. He's powering up. Attempting ...,None,...,en,None,False,False,3531,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1177,None,None,Sat Jul 22 16:56:37 +0000 2017,"[0, 128]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888804981515575296, 'id_str'...",25296,False,This is Zeke. He has a new stick. Very proud o...,None,...,en,None,False,False,4272,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1178,None,None,Sun Jul 23 00:22:39 +0000 2017,"[0, 86]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 888917229776945152, 'id_str'...",28761,False,This is Jim. He found a fren. Taught him how t...,None,...,en,None,False,False,4448,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1179,None,None,Mon Jul 24 00:19:32 +0000 2017,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889278779352338437, 'id_str'...",25008,False,This is Oliver. You're witnessing one of his m...,None,...,en,None,False,False,5355,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1180,None,None,Mon Jul 24 17:02:04 +0000 2017,"[0, 118]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 889531127467266049, 'id_str'...",14918,False,This is Stuart. He's sporting his favorite fan...,None,...,en,None,False,False,2213,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1181,None,None,Tue Jul 25 00:10:02 +0000 2017,"[0, 91]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889638825424826374, 'id_str'...",26858,False,This is Ted. He does his best. Sometimes that'...,None,...,en,None,False,False,4490,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1182,None,None,Tue Jul 25 01:55:32 +0000 2017,"[0, 106]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889665366129029120, 'id_str'...",47579,False,Here's a puppo that seems to be on the fence a...,None,...,en,None,False,False,9945,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1183,None,None,Tue Jul 25 16:11:53 +0000 2017,"[0, 107]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 889880888800096258, 'id_str'...",27464,False,This is Bruno. He is a service shark. Only get...,None,...,en,None,False,False,4918,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1184,None,None,Wed Jul 26 00:31:25 +0000 2017,"[0, 130]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890006600089468928, 'id_str'...",30312,False,This is Koda. He is a South Australian decksha...,None,...,en,None,False,False,7245,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1185,None,None,Wed Jul 26 15:59:51 +0000 2017,"[0, 133]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 890240245463175168, 'id_str'...",31553,False,This is Cassie. She is a college pup. Studying...,None,...,en,None,False,False,7300,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1186,None,None,Thu Jul 27 16:25:51 +0000 2017,"[0, 122]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 890609177319665665, 'id_str'...",27504,False,This is Zoey. She doesn't want to be one of th...,None,...,en,None,False,False,4217,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [8]:
tweet_js.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 28 columns):
contributors                     0 non-null object
coordinates                      0 non-null object
created_at                       1195 non-null object
display_text_range               1195 non-null object
entities                         1195 non-null object
extended_entities                1195 non-null object
favorite_count                   1195 non-null int64
favorited                        1195 non-null bool
full_text                        1195 non-null object
geo                              0 non-null object
id                               1195 non-null int64
id_str                           1195 non-null object
in_reply_to_screen_name          16 non-null object
in_reply_to_status_id            16 non-null float64
in_reply_to_status_id_str        16 non-null object
in_reply_to_user_id              16 non-null float64
in_reply_to_user_id_str          16 non-null object
is_quote_status                  1195 non-null bool
lang                             1195 non-null object
place                            0 non-null object
possibly_sensitive               1195 non-null bool
possibly_sensitive_appealable    1195 non-null bool
retweet_count                    1195 non-null int64
retweeted                        1195 non-null bool
retweeted_status                 16 non-null object
source                           1195 non-null object
truncated                        1195 non-null bool
user                             1195 non-null object
dtypes: bool(6), float64(2), int64(3), object(17)
memory usage: 212.5+ KB

**PRIMEIROS COMENTÁRIOS/PROBLEMAS:**

    Somente as colunas "id","retweet_count","favorite_count" e "created at" são necessários
    
    A coluna "id" esta inteiro, sendo que deveria ser string
    
    A coluna "created at" pode ser modificada para mostrar somente a mês e o ano , em colunas separas 
    
    Existe 1195 objetos, porém nem todas as colunas estão completadas

VERIFICANDO AS COLUNAS DISCUTIDAS

In [9]:
tweet_js.id[:5]

0    666020888022790149
1    666029285002620928
2    666033412701032449
3    666044226329800704
4    666049248165822465
Name: id, dtype: int64

In [10]:
tweet_js.retweet_count[:5]

0    508
1     47
2     44
3    139
4     40
Name: retweet_count, dtype: int64

In [11]:
tweet_js.favorite_count[:5]

0    2551
1     128
2     125
3     296
4     108
Name: favorite_count, dtype: int64

In [12]:
tweet_js.created_at[:5]

0    Sun Nov 15 22:32:08 +0000 2015
1    Sun Nov 15 23:05:30 +0000 2015
2    Sun Nov 15 23:21:54 +0000 2015
3    Mon Nov 16 00:04:52 +0000 2015
4    Mon Nov 16 00:24:50 +0000 2015
Name: created_at, dtype: object

IMAGENS_PRE (dados fornecidos pelo o link)

In [13]:
imagens_pre.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [14]:
imagens_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

** PRIMEIROS COMENTÁRIOS/PROBLEMAS: **
    
    "tweet_id" deve ser string
    
    A coluna img_num não acrescenta informação
    
    As colunas px_dog indica se a informação fornecida na coluna px pode esta relacionada com o tema cachorro. Eliminar todos os objetos que não esteja totalmente relacionado com cachorro
    
    Iniciar todos os nomes das raças com letra Maiscula para melhor order
    
    existem 2075 elementos, todas as colunas estão completadas

VERIFICANDO AS COLUNAS DISCUTIDAS

In [15]:
imagens_pre[(imagens_pre['p1_dog'] == False) & (imagens_pre['p2_dog'] == False) & (imagens_pre['p3_dog'] == False)].count()[0]

324

In [16]:
imagens_pre.p1[(imagens_pre['p1_dog'] == True) & (imagens_pre['p2_dog'] == True) & (imagens_pre['p3_dog'] == True)].count()

1243

TWEET_ARC (Dados fornecidos para baixar manualmente)

In [17]:
twitter_arc.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [18]:
twitter_arc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [19]:
twitter_arc.text[0]

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU"

In [20]:
twitter_arc[twitter_arc['rating_denominator'] != 10].count()[0]

23

In [21]:
twitter_arc.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
5           None
6            Jax
7           None
8           Zoey
9         Cassie
10          Koda
11         Bruno
12          None
13           Ted
14        Stuart
15        Oliver
16           Jim
17          Zeke
18       Ralphus
19        Canela
20        Gerald
21       Jeffrey
22          such
23        Canela
24          None
25          None
26          Maya
27        Mingus
28         Derek
29        Roscoe
          ...
2326       quite
2327           a
2328        None
2329        None
2330        None
2331        None
2332        None
2333          an
2334           a
2335          an
2336        None
2337        None
2338        None
2339        None
2340        None
2341        None
2342        None
2343        None
2344        None
2345         the
2346         the
2347           a
2348           a
2349          an
2350           a
2351        None
2352           a
2353           a
2354           a
2355        None
Name: name, Length: 2356, dtype: object

**PRIMEIROS COMENTÁRIOS/PROBLEMAS:**

    Dentro da coluna text, tem o link de forma reduzida. 
   
    Dentro da coluna text, tem o denominador e o numerador
    
    Existem twiiter que foram para responder. Esses devem ser desprezados
    
    tweet_id deve sre string
    
    As colunas doggo,flooofer,pupper,puppo podem ser retirada e formar uma uica coluna
    
    A coluna source começa com a tag. 
    
    De acordo com a fonte dos dados, todos os denominadores devem ser 10. Alguns elementos não possui denominador 10. Será considerado somente os objetos que possui denominador 10
    
    A coluna name está errada. 
    
    
    Existe 2356 elementos, porém algumas colunas não estão completadas

** <h1> Cleaning **

** <h2>RESUMINDO OS PROBLEMAS **

**QUALIDADE:**
    
    TWEET_JS:
    
        Existem colunas que são desncessárias
       
        A coluna id é int e deve mudar de nome para tweet_id
        
    IMAGENS_PRE:
    
        A coluna tweet_id é int
        
        Existem objetos que não são cachorros
    
        
    TWITTER_ARC:
        
        A coluna tweet_id é int
        
        Existem colunas que são desnecessárias
        
        A coluna rating_denominas não segue o padrão do site
        
        A coluna name mostra nomes errados
        
        A coluna text mostra informações que não deveria esta contida nela, como o link e a classificação
        
        Existem twiiter que foram escritos em resposta de outros twiiter
        
**ARRUMAÇÃO:**

    TWEET_JS:
         
         A coluna created está escrita de uma forma não util
    
    TWITTER_ARC:
        
         As raças não seguem um padrão de escrita
    
    GERAL:
      
      Existe elementos que estão faltando em pelo menos um dos dataframe

** <h2> Estratégia para resolver os problemas **

**RESOLUÇÃO - QUALIDADE:**
    
    TWEET_JS:
    
        Manter somente as colunas "id","retweet_count","favorite_count" e verificar as duas ultimas são int
    
        Converter a coluna id para string 
        
        Mundar o nome da coluna id para tweet_id
    
    IMAGENS_PRE:
        
        Converte a coluna tweet_id para string
        
        Remover os objetos que tenha pelo menos uma das colunas px_dog falso
    
    TWEET_ARC:
    
        Converter a coluna tweet_id para string
        
        Excluir as colunas in_reply_to_status_id,in_reply_to_user_id,retweeted_status e outras semelhantes
        
        Excluir todos os twiiter que foram escritos em resposta a outro
        
        Retirar o link da coluna text
        
        Verificar se o numerador fornecido pela a coluna text é igual a coluna rating_numerador
       
        Contabilizar somente os objetos que tenha a coluna rating_denominador = 10
        
        Transformar todos so valores da coluna name que começa com letra minuscula para None
        
        Retirar a avaliação da coluna text

** RESOLUÇÃO - ARRUMAÇÃO: **

    TWEET_JS:
            Criar duas colunas. A primeira sera para armazenar o mes e a segunda para armazenar o ano (o ano será string)
            Excluir a coluna create_at
         
    TWEET_ARC:
            Criar uma nova coluna que terá a informação se o cachorro é doogo,floofer,pupper,puppom
        
        
    GERAL:
            Comparar o tweet_id e id de todos os dataframe e armazenar somente os objetos que seu id esta presente em todos os dataframes analisados

** Criando copias **

In [22]:
tweet_js_clean = tweet_js.copy()
imagens_pre_clean = imagens_pre.copy()
twitter_arc_clean = twitter_arc.copy()

**  <h3> TWEET_JS - LIMPANDO **

In [23]:
tweet_js_clean.columns.values

array(['contributors', 'coordinates', 'created_at', 'display_text_range',
       'entities', 'extended_entities', 'favorite_count', 'favorited',
       'full_text', 'geo', 'id', 'id_str', 'in_reply_to_screen_name',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'is_quote_status', 'lang', 'place', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'retweet_count', 'retweeted',
       'retweeted_status', 'source', 'truncated', 'user'], dtype=object)

** Problema 1 - Removendo colunas desnecessárias e mudando tweet_id para string **

In [24]:
tweet_js_clean = tweet_js_clean[['id','retweet_count','favorite_count','created_at']]

In [25]:
tweet_js_clean['tweet_id'] = tweet_js_clean.id.astype(str)

In [26]:
tweet_js_clean.drop(['id'],axis=1,inplace=True)

** Problema 2 - Separando as informações de ano e mês **

In [27]:
Colu_mes = tweet_js_clean.created_at.values
Mes = []
Ano = []
for i in Colu_mes:
    Mes.append(i.split()[1])
    Ano.append(i.split()[5])

In [28]:
tweet_js_clean['Month_start'] = pd.Series(Mes)
tweet_js_clean['Year_start'] = pd.Series(Ano)
tweet_js_clean.drop(['created_at'],axis=1,inplace=True)

** <h3> TWEET_JS - VERIFICANDO MUDANÇAS **

In [29]:
tweet_js_clean.head()

   retweet_count  favorite_count            tweet_id Month_start Year_start
0            508            2551  666020888022790149         Nov       2015
1             47             128  666029285002620928         Nov       2015
2             44             125  666033412701032449         Nov       2015
3            139             296  666044226329800704         Nov       2015
4             40             108  666049248165822465         Nov       2015

In [30]:
tweet_js_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1195 entries, 0 to 1194
Data columns (total 5 columns):
retweet_count     1195 non-null int64
favorite_count    1195 non-null int64
tweet_id          1195 non-null object
Month_start       1195 non-null object
Year_start        1195 non-null object
dtypes: int64(2), object(3)
memory usage: 46.8+ KB

** <h3> IMAGENS_PRE - LIMPANDO **

** Problema 1 - Eliminando a columa img_num **

In [31]:
imagens_pre_clean.drop(columns=("img_num"),inplace=True)

** Problema 2 - Eliminando twitters que não estão relacionado com cachorros **

In [32]:
N_cachorro = imagens_pre_clean[(imagens_pre_clean['p1_dog'] == False) | (imagens_pre_clean['p2_dog'] == False) | (imagens_pre_clean['p3_dog'] == False)]

In [33]:
Chances_baixas = imagens_pre_clean[(imagens_pre_clean['p1_conf'] < 0.2) & (imagens_pre_clean['p2_conf'] < 0.2) & (imagens_pre_clean['p3_conf'] < 0.2 )]

In [34]:
INDEX_N_CACHORRO = N_cachorro.index
INDEX_CHANCE_BAIXAS = Chances_baixas.index
INDEX = INDEX_N_CACHORRO.append(INDEX_CHANCE_BAIXAS)

In [35]:
imagens_pre_clean.drop(INDEX,inplace=True)

** Problema 3 - Passando o nome das raças para uppercase e mudando tweet_id para string **

In [36]:
imagens_pre_clean['tweet_id'] = imagens_pre_clean['tweet_id'].astype(str)

In [37]:
imagens_pre_clean['p1'] = imagens_pre_clean.p1.str.upper()

In [38]:
imagens_pre_clean['p2'] = imagens_pre_clean.p2.str.upper()

In [39]:
imagens_pre_clean['p3'] = imagens_pre_clean.p3.str.upper()

In [40]:
imagens_pre_clean.drop(['p1_dog','p2_dog','p3_dog'],axis=1,inplace=True)

In [41]:
imagens_pre["tweet_id"] = imagens_pre.tweet_id.astype(str)

** <h3> IMAGENS_PRE - VERIFICANDO MUDANÇAS **

In [42]:
imagens_pre_clean.head()

,tweet_id,jpg_url,p1,p1_conf,p2,p2_conf,p3,p3_conf
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,WELSH_SPRINGER_SPANIEL,0.465074,COLLIE,0.156665,SHETLAND_SHEEPDOG,0.061428
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,REDBONE,0.506826,MINIATURE_PINSCHER,0.074192,RHODESIAN_RIDGEBACK,0.072010
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,GERMAN_SHEPHERD,0.596461,MALINOIS,0.138584,BLOODHOUND,0.116197
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,RHODESIAN_RIDGEBACK,0.408143,REDBONE,0.360687,MINIATURE_PINSCHER,0.222752
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,MINIATURE_PINSCHER,0.560311,ROTTWEILER,0.243682,DOBERMAN,0.154629

In [43]:
imagens_pre_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1184 entries, 0 to 2073
Data columns (total 8 columns):
tweet_id    1184 non-null object
jpg_url     1184 non-null object
p1          1184 non-null object
p1_conf     1184 non-null float64
p2          1184 non-null object
p2_conf     1184 non-null float64
p3          1184 non-null object
p3_conf     1184 non-null float64
dtypes: float64(3), object(5)
memory usage: 83.2+ KB

In [69]:
imagens_pre_clean['p1'].unique()

array(['WELSH_SPRINGER_SPANIEL', 'REDBONE', 'GERMAN_SHEPHERD',
       'RHODESIAN_RIDGEBACK', 'MINIATURE_PINSCHER',
       'BERNESE_MOUNTAIN_DOG', 'MINIATURE_POODLE', 'GOLDEN_RETRIEVER',
       'GORDON_SETTER', 'WALKER_HOUND', 'PUG', 'LHASA', 'ENGLISH_SETTER',
       'MALTESE_DOG', 'MALAMUTE', 'SOFT-COATED_WHEATEN_TERRIER',
       'CHIHUAHUA', 'BLACK-AND-TAN_COONHOUND', 'BLENHEIM_SPANIEL',
       'PEMBROKE', 'CURLY-COATED_RETRIEVER', 'DALMATIAN', 'BORDER_COLLIE',
       'LABRADOR_RETRIEVER', 'ITALIAN_GREYHOUND', 'MINIATURE_SCHNAUZER',
       'CHESAPEAKE_BAY_RETRIEVER', 'WEST_HIGHLAND_WHITE_TERRIER',
       'TOY_POODLE', 'GIANT_SCHNAUZER', 'VIZSLA', 'ROTTWEILER',
       'SIBERIAN_HUSKY', 'PAPILLON', 'SAINT_BERNARD', 'TIBETAN_TERRIER',
       'BEAGLE', 'YORKSHIRE_TERRIER', 'POMERANIAN', 'KUVASZ',
       'FLAT-COATED_RETRIEVER', 'NORWEGIAN_ELKHOUND', 'CHOW',
       'STANDARD_POODLE', 'STAFFORDSHIRE_BULLTERRIER', 'LAKELAND_TERRIER',
       'AMERICAN_STAFFORDSHIRE_TERRIER', 'SHIH-TZU', 'FRENCH_BULLDOG',
       'PEKINESE', 'MALINOIS', 'KELPIE', 'BRITTANY_SPANIEL',
       'COCKER_SPANIEL', 'BASSET', 'BRABANCON_GRIFFON',
       'GERMAN_SHORT-HAIRED_POINTER', 'IRISH_TERRIER', 'CAIRN',
       'ENGLISH_SPRINGER', 'SUSSEX_SPANIEL', 'DANDIE_DINMONT',
       'IBIZAN_HOUND', 'NORWICH_TERRIER', 'KEESHOND', 'BASENJI',
       'OLD_ENGLISH_SHEEPDOG', 'SAMOYED', 'DOBERMAN', 'SHETLAND_SHEEPDOG',
       'GREAT_PYRENEES', 'SCHIPPERKE', 'BULL_MASTIFF', 'COLLIE',
       'ESKIMO_DOG', 'CARDIGAN', 'AIREDALE', 'GREATER_SWISS_MOUNTAIN_DOG',
       'BORZOI', 'SCOTTISH_DEERHOUND', 'STANDARD_SCHNAUZER',
       'BOSTON_BULL', 'WHIPPET', 'JAPANESE_SPANIEL', 'NORFOLK_TERRIER',
       'BOXER', 'BLOODHOUND', 'ENTLEBUCHER', 'BLUETICK', 'IRISH_SETTER',
       'LEONBERG', 'WEIMARANER', 'GREAT_DANE', 'TIBETAN_MASTIFF',
       'SCOTCH_TERRIER', 'GROENENDAEL', 'AUSTRALIAN_TERRIER', 'BRIARD',
       'APPENZELLER', 'BORDER_TERRIER', 'MEXICAN_HAIRLESS',
       'NEWFOUNDLAND', 'BEDLINGTON_TERRIER', 'SALUKI', 'SILKY_TERRIER',
       'CLUMBER', 'WIRE-HAIRED_FOX_TERRIER', 'TOY_TERRIER',
       'AFGHAN_HOUND', 'IRISH_WATER_SPANIEL'], dtype=object)

** <h3> TWEET_ARC - LIMPANDO **

**Problema 1 - Mudando tweet_id, in_reply e retweet para string **

In [44]:
twitter_arc_clean['tweet_id '] = twitter_arc_clean.tweet_id.astype(str)

In [45]:
twitter_arc_clean["in_reply_to_status_id"] = twitter_arc_clean["in_reply_to_status_id"].astype(str)
twitter_arc_clean["retweeted_status_id"] = twitter_arc_clean["retweeted_status_id"].astype(str)

In [46]:
Replies = twitter_arc_clean[twitter_arc_clean["in_reply_to_status_id"] != "nan"]
retw = twitter_arc_clean[twitter_arc_clean["retweeted_status_id"] != "nan"]

In [47]:
twitter_arc_clean.drop(Replies["tweet_id"].index,inplace=True)
twitter_arc_clean.drop(retw["tweet_id"].index,inplace=True)b

** Problema 2 - Idenficando o nome dos animais e mudando na tabela name **

In [48]:
Name = twitter_arc_clean["text"].str.contains("This is ([A-Z][a-z])+")

/home/guilherme/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [49]:
twitter_arc_clean = twitter_arc_clean[Name]

In [50]:
twitter_arc_clean["name"] = twitter_arc_clean.text.str.extract("This is ([A-Z][a-z]+).", expand=False)

** Problema 3 - Resumindo os atributos doggo,floofer,pupper,puppo em um só atributo **

In [51]:
state_doggo = twitter_arc_clean[twitter_arc_clean["doggo"] != "None" ]["tweet_id"].index
state_floofer = twitter_arc_clean[twitter_arc_clean["floofer"] != "None" ]["tweet_id"].index
state_pupper = twitter_arc_clean[twitter_arc_clean["pupper"] != "None" ]["tweet_id"].index
state_puppo = twitter_arc_clean[twitter_arc_clean["puppo"] != "None" ]["tweet_id"].index

In [52]:
Dog_state = []
for i in range(len(twitter_arc_clean)):
    if i in state_doggo:
            Dog_state.append("Doggo")
    else:
        if i in state_floofer:
            Dog_state.append("Floofer")
        else:
            if i in state_pupper:
                    Dog_state.append("Pupper")
            else:
                if i in state_puppo:
                    Dog_state.append("Puppo")
                else:
                    Dog_state.append("None")

In [53]:
twitter_arc_clean["Dog_state"] = pd.Series(Dog_state)

** Problema 4 - Removendo os atributos desnecessários **

In [54]:
Remover_col = ["timestamp","expanded_urls", "doggo", "floofer", "pupper", "puppo",
                   "in_reply_to_status_id", "in_reply_to_user_id", 
                   "retweeted_status_id", "retweeted_status_user_id", 
                    "retweeted_status_timestamp"]
twitter_arc_clean.drop(columns=Remover_col,inplace=True)

**Problema 5 - Retirando informações desnecessários no texto e no source **

In [55]:
len_html = len(twitter_arc_clean["text"][0].split()[-1])+1
twitter_arc_clean["text"] = twitter_arc_clean["text"].apply(lambda x: x[:-len_html])

In [70]:
source = twitter_arc_clean.source.values

In [71]:
for i in range(len(source)):
    source[i] = source[i].split('"')[1]

IndexError: list index out of range

** Problema 6 - Escolhando somente os twitters com denominados igual a 10 **

In [56]:
Denominador_correto = twitter_arc_clean.text.str.contains("\d+/10")

In [57]:
twitter_arc_clean = twitter_arc_clean[Denominador_correto]

** Problema 7 - Removendo coluna denominator e mudando a coluna tweet_id para string **

In [60]:
twitter_arc_clean["tweet_id"] = twitter_arc_clean.tweet_id.astype(str)

In [61]:
twitter_arc_clean.drop(columns=['rating_denominator'],inplace=True)

** <h3> TWITTER_ARC - VERIFICANDO MUDANÇAS **

In [62]:
twitter_arc_clean.head()

,tweet_id,source,text,rating_numerator,name,tweet_id,Dog_state
0,892420643555336193,http://twitter.com/download/iphone,This is Phineas. He's a mystical boy. Only eve...,13,Phineas,892420643555336193,None
1,892177421306343426,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,13,Tilly,892177421306343426,None
2,891815181378084864,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,12,Archie,891815181378084864,None
3,891689557279858688,http://twitter.com/download/iphone,This is Darla. She commenced a snooze mid meal...,13,Darla,891689557279858688,None
4,891327558926688256,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,12,Franklin,891327558926688256,None

In [63]:
twitter_arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1075 entries, 0 to 2325
Data columns (total 7 columns):
tweet_id            1075 non-null object
source              1075 non-null object
text                1075 non-null object
rating_numerator    1075 non-null int64
name                1075 non-null object
tweet_id            1075 non-null object
Dog_state           536 non-null object
dtypes: int64(1), object(6)
memory usage: 67.2+ KB

** Emerger os dados **

In [64]:
df_merge = twitter_arc_clean.merge(tweet_js_clean, on="tweet_id",how="inner").merge(imagens_pre_clean,on="tweet_id",how="inner").copy()

In [65]:
df_merge.drop_duplicates(inplace=True)

In [66]:
df_merge.drop(columns=["tweet_id"])

,tweet_id,source,text,rating_numerator,name,tweet_id,Dog_state,retweet_count,favorite_count,Month_start,Year_start,jpg_url,p1,p1_conf,p2,p2_conf,p3,p3_conf
0,892177421306343426,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,13,Tilly,892177421306343426,None,6199,32846,Aug,2017,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,CHIHUAHUA,0.323581,PEKINESE,0.090647,PAPILLON,0.068957
1,891815181378084864,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,12,Archie,891815181378084864,None,4101,24743,Jul,2017,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,CHIHUAHUA,0.716012,MALAMUTE,0.078253,KELPIE,0.031379
2,891327558926688256,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,12,Franklin,891327558926688256,None,9265,39842,Jul,2017,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,BASSET,0.555712,ENGLISH_SPRINGER,0.225770,GERMAN_SHORT-HAIRED_POINTER,0.175219
3,890609185150312448,http://twitter.com/download/iphone,This is Zoey. She doesn't want to be one of th...,13,Zoey,890609185150312448,None,4217,27504,Jul,2017,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,IRISH_TERRIER,0.487574,IRISH_SETTER,0.193054,CHESAPEAKE_BAY_RETRIEVER,0.118184
4,890240255349198849,http://twitter.com/download/iphone,This is Cassie. She is a college pup. Studying...,14,Cassie,890240255349198849,Doggo,7300,31553,Jul,2017,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,PEMBROKE,0.511319,CARDIGAN,0.451038,CHIHUAHUA,0.029248

** Verificando o resultado final **

In [72]:
df_merge.head()

,tweet_id,source,text,rating_numerator,name,tweet_id,Dog_state,retweet_count,favorite_count,Month_start,Year_start,jpg_url,p1,p1_conf,p2,p2_conf,p3,p3_conf
0,892177421306343426,http://twitter.com/download/iphone,This is Tilly. She's just checking pup on you....,13,Tilly,892177421306343426,None,6199,32846,Aug,2017,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,CHIHUAHUA,0.323581,PEKINESE,0.090647,PAPILLON,0.068957
1,891815181378084864,http://twitter.com/download/iphone,This is Archie. He is a rare Norwegian Pouncin...,12,Archie,891815181378084864,None,4101,24743,Jul,2017,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,CHIHUAHUA,0.716012,MALAMUTE,0.078253,KELPIE,0.031379
2,891327558926688256,http://twitter.com/download/iphone,This is Franklin. He would like you to stop ca...,12,Franklin,891327558926688256,None,9265,39842,Jul,2017,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,BASSET,0.555712,ENGLISH_SPRINGER,0.225770,GERMAN_SHORT-HAIRED_POINTER,0.175219
3,890609185150312448,http://twitter.com/download/iphone,This is Zoey. She doesn't want to be one of th...,13,Zoey,890609185150312448,None,4217,27504,Jul,2017,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,IRISH_TERRIER,0.487574,IRISH_SETTER,0.193054,CHESAPEAKE_BAY_RETRIEVER,0.118184
4,890240255349198849,http://twitter.com/download/iphone,This is Cassie. She is a college pup. Studying...,14,Cassie,890240255349198849,Doggo,7300,31553,Jul,2017,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,PEMBROKE,0.511319,CARDIGAN,0.451038,CHIHUAHUA,0.029248

In [73]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289 entries, 0 to 288
Data columns (total 18 columns):
tweet_id            289 non-null object
source              289 non-null object
text                289 non-null object
rating_numerator    289 non-null int64
name                289 non-null object
tweet_id            289 non-null object
Dog_state           112 non-null object
retweet_count       289 non-null int64
favorite_count      289 non-null int64
Month_start         289 non-null object
Year_start          289 non-null object
jpg_url             289 non-null object
p1                  289 non-null object
p1_conf             289 non-null float64
p2                  289 non-null object
p2_conf             289 non-null float64
p3                  289 non-null object
p3_conf             289 non-null float64
dtypes: float64(3), int64(3), object(12)
memory usage: 42.9+ KB

** Salvando os dados **

In [67]:
df_merge.to_csv("twitter_archive_master.csv")

In [68]:
engine = sqlalchemy.create_engine('sqlite:///twitter_archive_master.db')
df_merge.to_sql('master',engine,index=False)

ValueError: Table 'master' already exists.